{% extends "layout.html" %}

{% block title %}Change Root{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div class="container">
    <ul>
        {% for sibling in siblings %}
        <li>
            <form method="POST" action="/change-root">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" name="root" value="{{ sibling }}" class="dropdown-item">
                    {{ sibling }}
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

